* {
    padding: 0;
    margin: 0;
    background-color: rgb(68 62 73);
}


.Roleta {

    width: 100vw;
    height: 100vh;

}


.Sorteio {

    Width: 670px;
    Height: 470px;
    margin-top: 130px;
    margin-left: 645px;
}

h2 {
    width: 299px;
    height: 20px;
    margin-top: 60px;
    margin-left: 861px;
    font-weight: 400;
    font-size: 32px;
    line-height: 37.5px;

}

.Espaço {

    margin-left: 345px;
    border-radius: 3px;
    border: 1px;


}

.Principal {

    Width: 290px;
    Height: 74px;
    margin-top: 50px;
    margin-left: 316px;
    border-radius: 14px;
    border: 1px;
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;

}


.Secudario {

    Width: 290px;
    Height: 74px;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 14px;
    border: 1px;
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}


input {
    width: 22px;
    height: 58px;
    margin-top: 11px;
    margin-left: 16px;
    opacity: 70%;
    font-weight: 500;
    font-size: 40px;
    line-height: 46.88px;
    color: brown;

}


Espaço {

    margin-left: 3px;
    padding-left: 13px;
}


button {

    width: 145px;
    height: 58px;
    margin-top: 50px;
    margin-left: 920px;
    cursor: pointer;
    color: #1e1d1d;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    background-color: aqua;

}

button:hover {

    box-shadow: 0 0 20px rgba(0, 255, 255, 01);
    transform: translateY(-3px);
}



.contato {

    width: 38px;
    margin-left: 1400px;
    margin-bottom: 10px;
}


@media (max-width:1345px) {

    .Sorteio {
        margin-left: 300px;

    }

    h2 {

        margin-left: 535px;
    }

    .Espaço {
        margin-left: 0px;
    }

    button {
        margin-left: 575px;
    }

    .contato {

        margin-left: 1100px;
    }

}


@media (max-width:1280px) {

    .Sorteio {
        margin-top: -3px;

    }


    h2 {

        margin-top: 7px;

    }


}


@media (max-width:1024px) {

    .Sorteio {

        width: 560px;
        height: 500px;
        margin-top: 245px;
        margin-left: 234px;
    }

    h2 {
        margin-left: 354px;
        margin-top: -20px;
        font-size: 37px;

    }

    .Espaço {

        margin-left: -151px;
        margin-top: 30px;

    }

    button {


        margin-left: 425px;
        margin-top: 168px;
        font-size: 25px;
        width: 147px;
        height: 80px;
        border: 4px;


    }

    .contato {

        margin-left: 298px;
        width: 65px;

    }



}


@media (max-width:1000px) {


    .Sorteio {
        margin-left: 130px;

    }

    h2 {

        margin-left: 300px;
    }

    .Espaço {
        margin-left: -225px;
    }


    button {

        margin-left: 348px;

    }

    .contato {

        margin-left: 415px;

    }


}


@media (max-width:890px) {

    .contato {

        margin-left: 805px;
    }

}


@media (max-width:768px) {

    .Sorteio {

        margin-left: 55px;
        margin-top: 61px;

    }


    h2 {

        margin-top: 25px;
        margin-left: 230px;
    }


    .Principal {

        margin-left: 272px;

    }


    button {

        margin-left: 294px;

    }


    .contato {

        margin-left: 670px;


    }



}


@media (max-width:540px) {

    .Sorteio {

        width: 220px;
        height: 180px;
        margin-top: 43px;
        margin-left: 62px;

    }

    h2 {

        margin-left: 80px;
        margin-top: 10px;
        font-size: 23px;
        color: #ffff;

    }

    .Principal {

        width: 18%;
        height: 45%;
        margin-left: 31%;
        margin-top: 2%;

    }

    .Secudario {

        width: 18%;
        height: 45%;
        margin-left: 3%;
        margin-top: 2%;
    }


    button {


        margin-left: 21%;
        margin-top: 5%;
        width: 102px;
        height: 40px;
        font-size: 14px;

    }


    .contato {

        margin-left: 15%;
        width: 37px;
        font-size: -44px;


    }


}